:host {
  padding: 24px;
}

.o-product-list {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  gap: 18px;
}
@media (max-width: 1200px) {
  .o-product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .o-product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.o-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.a-links {
  display: flex;
  flex-direction: column;
  gap: 4px;

  a {
    display: flex;
    gap: 4px;
  }
}
.m-cardInfo {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-columns: 3fr 1fr;
  gap: 8px;
}

.m-product-card {
  min-width: 200px;
  border-radius: 1rem;
  height: min-content;
  padding: 16px;
  background: var(--bg-secondary);
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.o-filters {
  padding: 16px 24px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  box-shadow: 4px 2px 4px gainsboro;
  gap: 16px;
}
