<div class="o-filters">
  <mat-form-field>
    <mat-select [formField]="filtersForm.expansion" placeholder="Select expansion...">
      @for (option of expansions(); track option.id) {
        <mat-option [value]="option.id">{{ option.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Min</mat-label>
    <input matInput type="number" placeholder="Min price..." [formField]="filtersForm.minPrice" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Max</mat-label>
    <input matInput type="number" placeholder="Max price..." [formField]="filtersForm.maxPrice" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Delta</mat-label>
    <mat-select [formField]="filtersForm.sort" placeholder="Select delta...">
      <mat-option [value]="'minEuDiff'"> Variazione prezzo minimo</mat-option>
      <mat-option [value]="'minEu'"> Prezzo</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="o-content">
  <h2>Singles Top Movers</h2>
  <div class="o-product-list">
    @for (product of getTopMovers.value(); track product.idProduct) {
      <div class="m-product-card">
        <h4>{{ product?.name }}</h4>
        <img
          src="https://res.cloudinary.com/dntnvwjka/image/upload/{{
            product?.ctrader_id
          }}_SMALL.jpg"
          alt="{{ product?.name }}"
        />
        <div class="m-cardInfo">
          <div class="a-priceInfo">
            <p>delta: {{ product.minEuDiff | number: '1.0-2' }}%</p>
            <p>🇮🇹: {{ product.minIta | currency }}</p>
            <p>🇪🇺: {{ product.minEu | currency }}</p>
          </div>

          <div class="a-links">
            <a href="{{ product?.cardtrader_url }}" target="_blank"> CardTrader </a>
            <a
              href="https://www.cardmarket.com/en/OnePiece/Products?idProduct={{
                product?.idProduct
              }}"
              target="_blank"
              >CardMarket
            </a>
          </div>
        </div>
        <button
          matButton="filled"
          commandfor="singleProductDialog"
          command="show-popover"
          (touchstart)="selectedProduct.set(product)"
          (click)="selectedProduct.set(product)"
        >
          Details
        </button>
      </div>
    }
  </div>

  <h2>Set movers</h2>

  <div class="o-product-list">
    @for (set of getTopMoversSet.value(); track set.idSet) {
      <div class="m-product-card">
        <h4>{{ set?.expansionName }}</h4>
        <img
          src="https://res.cloudinary.com/dntnvwjka/image/upload/{{ set?.ctrader_id }}_SMALL.jpg"
          alt="{{ set?.expansionName }}"
        />
        <div class="m-cardInfo a-priceInfo">
          <p>delta: {{ set.priceDiffPercent | number: '1.0-2' }}%</p>
          <p>total: {{ set.totalPrice | currency }}</p>
          <p>🇪🇺: {{ set.eu | currency }}</p>
        </div>
      </div>
    }
  </div>
  @if (selectedProduct()) {
    <app-single-product-dialog
      id="singleProductDialog"
      popover
      [product]="selectedProduct()"
    ></app-single-product-dialog>
  }
</div>
