<div class="o-filters">
  <mat-form-field>
    <mat-select [formField]="filtersForm.expansion" placeholder="Select expansion...">
      @for (option of expansions(); track option.id) {
        <mat-option [value]="option.id">{{ option.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Min</mat-label>
    <input matInput type="number" placeholder="Min price..." [formField]="filtersForm.minPrice" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Max</mat-label>
    <input matInput type="number" placeholder="Max price..." [formField]="filtersForm.maxPrice" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Delta</mat-label>
    <mat-select [formField]="filtersForm.sort" placeholder="Select delta...">
      <mat-option [value]="'minPriceDelta'"> Variazione prezzo minimo</mat-option>
      <mat-option [value]="'priceDelta'"> Variazione prezzo medio (con Outlier)</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="o-product-list">
  @for (product of getTopMovers.value(); track product.idProduct) {
    <div class="m-product-card">
      @let productInfo = product?.productsInfo?.[0];
      <h4>{{ productInfo?.name }}</h4>
      <p>id: {{ productInfo?.idProduct }}</p>
      <p>delta: {{ product.priceDelta | number: '1.0-2' }}%</p>
      <p>minDelta: {{ product.minPriceDelta | number: '1.0-2' }}%</p>
      <p>low: {{ product.low | currency }}</p>
      <p>avg: {{ product.avg1 | currency }}</p>
      <p>avg1: {{ product.avg7 | currency }}</p>
      <p>avg7: {{ product.avg30 | currency }}</p>
      <button
        matButton="tonal"
        commandfor="singleProductDialog"
        command="show-popover"
        (touchstart)="selectedProduct.set(productInfo)"
        (click)="selectedProduct.set(productInfo)"
      >
        Details
      </button>
    </div>
  }
</div>
<app-single-product-dialog
  id="singleProductDialog"
  popover
  [product]="selectedProduct()"
></app-single-product-dialog>
