<div class="skeleton-container">
  @for (item of skeletonItems; track $index) {
    <div class="skeleton-card">
      <div class="skeleton-title"></div>
      <div class="skeleton-image"></div>
      <div class="skeleton-info">
        <div class="skeleton-price">
          <div class="skeleton-text skeleton-text-small"></div>
          <div class="skeleton-text skeleton-text-small"></div>
          <div class="skeleton-text skeleton-text-small"></div>
        </div>
        <div class="skeleton-link"></div>
      </div>
    </div>
  }
</div>
