<div class="m-product-card">
  <h4>{{ name() }}</h4>
  <img
    src="https://res.cloudinary.com/dntnvwjka/image/upload/{{ id() }}_SMALL.jpg"
    alt="{{ name() }}"
  />
  <div class="m-cardInfo">
    <div class="a-priceInfo">
      @let sign = diff() !== 0 ? (diff() >= 0 ? 'positive' : 'negative') : '';
      <a href="https://www.cardmarket.com/en/OnePiece/Products?idProduct={{ id() }}" target="_blank"
        >🇮🇹: {{ minIta() | currency }}</a
      >
      <a href="https://www.cardmarket.com/en/OnePiece/Products?idProduct={{ id() }}" target="_blank"
        >🇪🇺: {{ minEu() | currency }}</a
      >
    </div>

    <div class="a-links">
      <p [ngClass]="sign">{{ diff() | number: '1.0-2' }}%</p>
      <a href="{{ cardtrader_url }}" target="_blank"> CardTrader </a>
    </div>
  </div>
</div>
