:host {
  display: block;
  cursor: pointer;
}

.m-cardInfo {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-columns: 3fr 1fr;
  gap: 8px;
}

.m-product-card {
  width: 200px;
  border-radius: 1rem;
  height: min-content;
  padding: 16px;
  background: var(--bg-secondary);
  display: flex;
  gap: 16px;
  flex-direction: column;

  h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    margin: 0;
  }
}
.a-links {
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
}

p.positive {
  color: var(--accent-green);
}
p.negative {
  color: var(--accent-red);
}

.m-priceInfo {
  position: absolute;
  background: #000000ad;
  text-decoration: none;
  bottom: 8px;
  right: 8px;
  display: flex;
  gap: 4px;
  padding: 4px;
  border-radius: 0.5rem;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease;

  &:hover {
    padding-right: 8px;

    .a-cmLogo {
      transform: translateX(0);
      opacity: 1;
      width: 16px;
    }
  }

  a {
    display: flex;
    gap: 4px;
    color: var(--text-primary);
    text-decoration: none;
  }
}
.o-cardImage {
  position: relative;
}
a {
  display: flex;
  gap: 4px;
  color: var(--text-primary);
}

.a-cmLogo {
  width: 0px;
  transform: translateX(-20px);
  opacity: 0;
  transition: all 0.3s ease;
}
