.m-cardInfo {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-columns: 3fr 1fr;
  gap: 8px;
}

.m-product-card {
  width: 200px;
  border-radius: 1rem;
  height: min-content;
  padding: 16px;
  background: var(--bg-secondary);
  display: flex;
  gap: 16px;
  flex-direction: column;

  h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    margin: 0;
  }
}
.a-links {
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
}

a {
  display: flex;
  gap: 4px;
  color: var(--text-primary);
}
p.positive {
  color: var(--accent-green);
}
p.negative {
  color: var(--accent-red);
}
